################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyTesla
/packages
/MyTesla.Mobile/bin/Debug
/MyTesla.Mobile/obj
