################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyTesla
/packages
/MyTesla.Mobile/bin
/MyTesla.Mobile/obj
/MyTesla.Core/bin
/MyTesla.Core/obj
/.vs/config
