<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
	</configSections>	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="TESLA_CLIENT_ID" value="***********" />
		<add key="TESLA_CLIENT_SECRET" value="***********" />
		<add key="email" value="***********" />
		<add key="password" value="***********" />
		<add key="home_lat" value="***********" />
		<add key="home_long" value="***********" />
		<add key="home_check_time" value="9:00 PM" />
		<add key="reminder_interval" value="120" /> <!-- minutes -->


		<!--<add key="log4net.Internal.Debug" value="true" />-->
	</appSettings>

	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="tracer" type="System.Diagnostics.TextWriterTraceListener" initializeData="log4net.debug.log" />
			</listeners>
		</trace>
	</system.diagnostics>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log.txt" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<datePattern value="yyyyMMdd" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
			</layout>
		</appender>

		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="k@mayarovich.com" />
			<from value="k@mayarovich.com" />
			<subject value="MyTesla Service Notification" />
			<smtpHost value="smtp.gmail.com" />
			<authentication value="Basic" />
			<port value="587" />
			<username value="k@mayarovich.com" />
			<password value="@deftones8@" />
			<EnableSsl value="true" />
			<bufferSize value="1" />
			<lossy value="false" />
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN" />
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
			</layout>
		</appender>

		<logger name="FileAppender">
			<level value="INFO" />
			<appender-ref ref="FileAppender" />
		</logger>

		<logger name="SmtpAppender">
			<level value="WARN" />
			<appender-ref ref="SmtpAppender" />
		</logger>
	</log4net>
</configuration>
